.center{
    display: flex;
    justify-items: space-between;
    justify-content: center;

}
.play{
    margin-left: 45vw;
}
button{
    transition: transform .2s;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px black;
}