.center{
    display: flex;
    justify-content: center;

}
.play{
    margin-top: 32px;
    text-align: center;
}
button{
    transition: transform .2s;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px black;
}